.config/btop/error.log
.config/vis/vis.log
.config/polybar/.curplayer.log
.config/eww/hosf/images/
.config/systemd/user/default.target.wants
.config/systemd/user/graphical.target.wants
.config/systemd/user/multi-user.target.wants
