import_config.sh

.config/mimeapps.list
.config/arkrc
.config/gwenviewrc
.config/kconf_updaterc
.config/kdeglobals

.config/session/
.config/btop/error.log
.config/vis/vis.log
.config/pulse/
.config/google-chrome/
.config/kde.org/
