* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 800;
}

.cal {
    border-top: none;
    font-size: 16px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: 3px solid #ff5e81;
    border-radius: 20px;
    padding: 10px;
}

calendar:selected {
    color: #11111b;
    background-color: #f38ba8;
    border-radius: 10px;
}

calendar.highlight {
    color: #eba0ac;
    font-weight: bold;
}

calendar:indeterminate {
    color: #585b70;
}
