@import "mocha.css";

* {
  all: inherit;

  font-family: "JetBrainsMono Nerd Font";

  font-size: 12px;
  font-weight: 900;

  margin: 0.2em 0.3em 0.2em 0.3em;
}

#waybar {
  background-color: @base;
  border-radius: 25px;
}

tooltip {
  background-color: @base;
}

/* Module base CSS */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#wireplumber,
#tray,
#workspaces,
#custom-power {
  padding: 0px 15px;
  border-radius: 20px;
  color: @mantle;
}

#workspaces {
  padding: 0px 2px;
  background-color: @surface0;
  margin-left: 3px;
}

#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @maroon;
}

#workspaces button:hover {
  color: @sky;
}

#cpu {
  background-color: @pink;
}

#clock {
  background-color: @sapphire;
}

#memory {
  background-color: @mauve;
}

#custom-power {
  background-color: @red;
}

#wireplumber {
  background-color: @text;
}

#backlight {
  background-color: @yellow;
}

#battery {
  background-color: @flamingo;
}

#battery.charging,
#battery.full,
#battery.plugged {
  background-color: @green;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: @peach;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: @rosewater;
}

#temperature.critical {
  background-color: @red;
}

#tray {
  padding: 0px 5px;
  background-color: @overlay0;
}
