@import "mocha.css";

* {
  all: inherit;

  font-family: "JetBrainsMono Nerd Font";

  font-size: 8pt;
  font-weight: 900;

  margin: 0.2em 0.3em 0.2em 0.3em;
}

window#waybar {
  background-color: @base;
  border-radius: 12px;
}

tooltip {
  background-color: @base;
  color: @text;
}

/* Module base CSS */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#wireplumber,
#tray,
#power-profiles-daemon,
#workspaces,
#custom-notification,
#custom-power {
  padding: 0px 10px;
  border-radius: 8px;
  color: @mantle;
}

#workspaces {
  padding: 0px 1px;
  background-color: @mantle;
  margin-left: 3px;
}

#workspaces button {
  color: @blue;
}

#workspaces button.active:not(:hover) {
  color: @red;
}

#workspaces *:hover {
  color: @yellow;
}

#workspaces button.empty:not(.active):not(:hover) {
  color: @text;
  opacity: 0.6;
}

#cpu {
  background-color: @pink;
}

#clock {
  background-color: @sapphire;
}

#memory {
  background-color: @mauve;
}

#custom-power {
  background-color: @red;
}

#wireplumber {
  background-color: @text;
}

#backlight {
  background-color: @yellow;
}

#battery {
  background-color: @flamingo;
}

#battery.charging,
#battery.full,
#battery.plugged {
  background-color: @green;
}

#battery.warning:not(.charging) {
  background-color: @yellow;
}

#battery.critical:not(.charging) {
  background-color: @red;
}

#temperature {
  background-color: @rosewater;
}

#temperature.critical {
  background-color: @red;
}

#tray {
  padding: 0px 0px;
  background-color: @surface2;
}

#tray menu {
  padding: 0px 0px;
  background-color: @base;
  color: @text;
}

#tray menu menuitem:hover {
  background-color: @overlay1;
  color: @base;
}

#power-profiles-daemon {
  padding: 0px 5px 0px 5px;
}

#power-profiles-daemon.performance {
  background-color: @red;
}

#power-profiles-daemon.balanced {
  background-color: @text;
}

#power-profiles-daemon.power-saver {
  background-color: @green;
}

#custom-notification {
  background-color: @rosewater;
}
