@import "~/.cache/wal/colors-rofi-dark"

configuration {
	modes: "window,drun,run,ssh,combi";

	show-icons: true;
	terminal: "kitty";
	ssh-client: "ssh";
	drun-match-fields: "name,generic,exec,categories,keywords";
	cycle: true;
	drun-show-actions: true;
	combi-modes: "window,drun,ssh";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
