* {
    font-family: sans-serif;
}

window {
	background-color: rgba(17, 17, 27, 0.8);
}

button {
    font-size: 21px;
    border-radius: 60px;

    color: rgb(205, 214, 244);

	background-color: rgb(30, 30, 46);

    border: 5px solid rgb(235, 160, 172);

	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;

    margin: 10px 10px;
}

button:active,
button:hover {
	background-color: rgb(69, 71, 90);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
